<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="/static/css/twitflick.css"/>
  <style type="text/css">
    .monospace { font-family: "Courier New",monospace }
  </style>
  <title>ERROR 500</title>
</head>
<body>
  <div id="main_content">
    <h1 id="twitflick_logo"><a href="/"><img src="/static/img/twitflick.png" alt="twitflick"/></a></h1>
    <div id="tagline">Because if you&rsquo;re gonna do something useless, you may as well do it twice.</div>
    <h2>Error 500: Internal Server Error</h2>
    <p>You are probably seeing this because querying flickr timed out.</p>
    <p>Perhaps you should just <a href="/app">try again</a>.</p>
    <p>If you wish to see the raw errors, edit the <span class="monospace">settings.py</span> file so that the <span class="monospace">DEBUG</span> global variable is set to <span class="monospace">True</span> and then <a href="/app">try again</a>. E.g.,</p>
    <pre>DEBUG = True</pre>
  </div>
</body>
</html>
